version: "3.8"
services:
  mongodb:
    image: mongo:6
    container_name: mongo_smarthouse
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
      - ./json:/json
